

.second-section-head{
    padding: 40px 0;
}
.second-section-head-head >h1{
}
.second-section-head>p{
   margin-top: 20px;

}
.second-section-head >span{
 display: block;
 color: rgb(145 92 14);
 font-weight: 500;
}